@using SocialNetwork.Models.ViewModels
@model PublicationAndImageViewModel

<link rel="stylesheet" href="~/css/publications-form.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Добавление публикации</h4>
    </div>
    <hr class="hr-shadow">

    <!-- Блок формы с полями для заполнения -->

    <div class="form">
        <form asp-action="AddPublication" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="block-form">

                <div class="block-input">
                    <label asp-for="@Model.Publication.Heading" class="form-label">Название публикации</label>
                    <input asp-for="@Model.Publication.Heading" class="form-control form-control-sm" type="text" required>
                    <div class="invalid-feedback">Пожалуйста, укажите название публикации</div>
                    <div class="valid-feedback">Ок!</div>
                </div>

                <div class="block-input">
                    <label asp-for="@Model.Publication.Content" class="form-label">Текст публикации</label>
                    <textarea asp-for="@Model.Publication.Content" class="form-control annotation"  rows="10" required>
                    </textarea>
                    <div class="invalid-feedback">Пожалуйста, внесите текст публикации</div>
                    <div class="valid-feedback">Ок!</div>
                </div>
                <div>
                    <input asp-for="Image" type="file" accept="image/jpeg" class="form-control form-control-sm">
                </div>
            </div>

            <div class="block-btn">
                <button class="save-btn" type="submit">Добавить</button>
                <button class="cancel-btn">Отмена</button>
            </div>
        </form>
    </div>


</section>
