<div class="sidebar">

    <!-- Заголовок и логотип -->
    <div class="logo-details">
        <div class="logo-name">Society</div>
        <i class="fal fa-bars" id="btn"></i>
    </div>

    <!-- Список в сайдбаре -->
    <ul class="nav-list">
        <li>
            <a asp-controller="Home">

                <i class="fal fa-user-circle"></i>
                <span class="links-name">Моя страница</span>
            </a>
            <span class="tooltip">Моя страница</span>
        </li>
        <li>
            <a asp-controller="Publications">
                <i class="fal fa-newspaper"></i>
                <span class="links-name">Публикации</span>
            </a>
            <span class="tooltip">Публикации</span>
        </li>
        <li>
            <a asp-controller="Friends">
                <i class="fal fa-user-friends"></i>
                <span class="links-name">Друзья</span>
            </a>
            <span class="tooltip">Друзья</span>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Logout">
                <i class="fal fa-sign-out rotate"></i>
                <span class="links-name">Выйти</span>
            </a>
            <span class="tooltip">Выйти</span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <div class="name-job">
                    <div class="name">© 2021 Harashimahashi</div>
                </div>
                <i id="log_out"></i>
            </div>
        </li>
    </ul>
</div>