<div class="sidebar">

    <!-- Заголовок и логотип -->
    <div class="logo-details">
        <div class="logo-name">Society</div>
        <i class="fal fa-bars" id="btn"></i>
    </div>

    <!-- Список в сайдбаре -->
    <ul class="nav-list">
        <li>
            <a asp-controller="Home" asp-action="Index">

                <i class="fal fa-user-circle"></i>
                <span class="links-name">Моя страница</span>
            </a>
            <span class="tooltip">Моя страница</span>
        </li>
        <li>
            <a asp-controller="Publications">
                <i class="fal fa-newspaper"></i>
                <span class="links-name">Публикации</span>
            </a>
            <span class="tooltip">Публикации</span>
        </li>
        <li>
            <a asp-controller="People">
                <i class="fal fa-user-friends"></i>
                <span class="links-name">Люди</span>
            </a>
            <span class="tooltip">Люди</span>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Logout">
                <i class="fal fa-sign-out rotate"></i>
                <span class="links-name">Выйти</span>
            </a>
            <span class="tooltip">Выйти</span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <div class="name-job">
                    <div class="name">© 2021 Harashimahashi</div>
                </div>
                <i id="log_out"></i>
            </div>
        </li>
    </ul>
</div>



<script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
            }
        }
</script>