@using System.Collections.Generic
@using SocialNetwork.Models.ViewModels
@model List<UserWithNameAndSubscribersViewModel>

<link rel="stylesheet" href="./css/friends-page.css">

<!-- Страница друзей -->
<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Сообщество</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="users-list">
            <div class="page-subtitle">
                <h5>Люди</h5>
            </div>

            <!-- Форма поиска -->
            <div class="search">
                <form>
                    <input type="text" placeholder="Найти...">
                    <button type="submit"><i class="far fa-search"></i></button>
                </form>
            </div>

            @foreach (var userModel in Model)
            {
                <div class="item-user">
                    @if (userModel.User.Image is not null)
                    {
                        <img class="item-user__image" src=@("data:image/jpeg;base64," + Convert.ToBase64String(userModel.User.Image)) alt="foto">
                    }
                    else
                    {
                        <img class="item-user__image" src="~/images/background.jpg" alt="foto">
                    }
                    <div class="item-user__title">
                        <a class="item-user__link" asp-controller="Home" asp-action=@userModel.UserName>
                            @(userModel.User.FirstName + " " + userModel.User.LastName)
                        </a>
                        <span class="item-user__city">@userModel.User.Residence</span>
                    </div>
                </div>
            }
        </div>

        <!-- Список-панель справа -->
        <div class="block-panel">
            <div>
                <div class="panel">
                    <ul>
                        <li>Все пользователи</li>
                        <li>Подписчики</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>