<link rel="stylesheet" href="./css/friends-page.css">

<!-- Страница друзей -->
<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Сообщество</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="users-list">
            <div class="page-subtitle">
                <h5>Люди</h5>
            </div>

            <!-- Форма поиска -->
            <div class="search">
                <form>
                    <input type="text" placeholder="Найти...">
                    <button type="submit"><i class="far fa-search"></i></button>
                </form>
            </div>

            <div class="item-user">
                <img class="item-user__image" src="./images/foto.jpg" alt="foto">
                <div class="item-user__title">
                    Мария Литвинова
                    <span class="item-user__city"> Москва, 19 лет</span>
                </div>
            </div>

            <div class="item-user">
                <img class="item-user__image" src="./images/foto.jpg" alt="foto">
                <div class="item-user__title">
                    Мария Литвинова
                    <span class="item-user__city"> Москва</span>
                </div>
            </div>

            <div class="item-user">
                <img class="item-user__image" src="./images/foto.jpg" alt="foto">
                <div class="item-user__title">
                    Мария Литвинова
                    <span class="item-user__city"> Москва</span>
                </div>
            </div>

            <div class="item-user">
                <img class="item-user__image" src="./images/foto.jpg" alt="foto">
                <div class="item-user__title">
                    Мария Литвинова
                    <span class="item-user__city"> Москва</span>
                </div>
            </div>

            <div class="item-user">
                <img class="item-user__image" src="./images/foto.jpg" alt="foto">
                <div class="item-user__title">
                    Мария Литвинова
                    <span class="item-user__city"> Москва</span>
                </div>
            </div>

            <div class="item-user">
                <img class="item-user__image" src="./images/foto.jpg" alt="foto">
                <div class="item-user__title">
                    Мария Литвинова
                    <span class="item-user__city"> Москва</span>
                </div>
            </div>
        </div>

        <!-- Список-панель справа -->
        <div class="block-panel">
            <div>
                <div class="panel">
                    <ul>
                        <li>Все пользователи</li>
                        <li>Мои друзья</li>
                        <li>Подписчики</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>