<link rel="stylesheet" href="~/css/main-page_form.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Редактирование своей страницы</h4>
    </div>
    <hr class="hr-shadow">

    <!-- Блок формы с полями для заполнения -->

    <div class="form">
        <form class="needs-validation" novalidate>
            <div class="block-form">

                <div class="block-input">
                    <label for="Status" class="form-label">Статус</label>
                    <input class="form-control form-control-sm" type="text" id="Status"
                           value="Все сложно">
                </div>

                <div class="block-input">
                    <label for="Name" class="form-label">Имя/Никнейм</label>
                    <input class="form-control form-control-sm" type="text" id="Name" value="MariLi" required>
                    <div class="invalid-feedback">Пожалуйста, укажите свое имя!</div>
                    <div class="valid-feedback">Ок!</div>
                </div>

                <div class="block-input">
                    <label for="City" class="form-label">Город</label>
                    <input class="form-control form-control-sm" type="text" id="City" value="Москва" required>
                    <div class="invalid-feedback">Пожалуйста, укажите свой город!</div>
                    <div class="valid-feedback">Ок!</div>
                </div>

                <div class="block-input input-date">
                    <label for="DateBirth" class="form-label">Дата рождения</label>
                    <input class="form-control form-control-sm" type="date" id="DateBirth" value="25.12.1999" required>
                    <div class="invalid-feedback">Пожалуйста, укажите свою дату рождения!</div>
                    <div class="valid-feedback">Ок!</div>
                </div>

                <div class="block-input">
                    <label for="Email" class="form-label">Email</label>
                    <input class="form-control form-control-sm" type="text" id="Email" value="maria@gmail.com">
                </div>

                <div class="block-input">
                    <label for="Interests" class="form-label">Мои интересы</label>
                    <textarea class="form-control annotation" id="Interests" rows="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel itaque quia eos! Quidem, magni vitae commodi iure amet minus enim labore odit porro quod, earum ad cumque corrupti laboriosam itaque!
                        </textarea>
                </div>

                <div>
                    <label for="Avatar" class="form-label">Аватар</label>
                    <input type="file" id="Avatar" accept="image/jpeg" class="form-control form-control-sm">
                </div>


                <div class="block-img-publication">
                    <div>Текущее изображение:</div>
                    <div>
                        <img class="img-publication" src="~/images/background.jpg" alt="Обложка книги">
                    </div>
                </div>
            </div>

            <div class="block-btn">
                <button class="save-btn" type="submit">Сохранить</button>
                <button class="cancel-btn">Отмена</button>
            </div>
        </form>
    </div>

</section>