<link rel="stylesheet" href="~/css/main-page.css">

<section class="home-section">

    <!-- Заголовок -->
    <div class="page-title">
        <h4>Моя страница</h4>
    </div>
    <hr class="hr-shadow">

    <div class="content">
        <div class="block-foto">
            <img class="foto-img" src="./images/foto.jpg" alt="foto">
            <button class="edit-btn" type="submit">Редактировать</button>
        </div>
        <div class="block-info">
            <div class="block-info__name">Мария Литвинова</div>

            <div class="block-info__status">Здесь есть статус бла бла</div>
            <hr>

            <table class="table">
                <tbody>
                    <tr>
                        <th class="col1">Имя/Никнейм:</th>
                        <td>MariLi</td>
                    </tr>
                    <tr>
                        <th class="col1">Место жительства:</th>
                        <td>Москва</td>
                    </tr>
                    <tr>
                        <th class="col1">Дата рождения:</th>
                        <td>17 августа 1996</td>
                    </tr>
                    <tr>
                        <th class="col1">Email:</th>
                        <td>maria@gmail.com</td>
                    </tr>
                    <tr>
                        <th class="col1">Количество друзей:</th>
                        <td>11</td>
                    </tr>
                    <tr>
                        <th class="col1">Количество подписчиков:</th>
                        <td>37</td>
                    </tr>
                </tbody>

            </table>

            <div class="block-info__interests">Интересы: </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsum soluta dolor magni maiores impedit, temporibus saepe aspernatur totam, voluptate consequuntur. Animi nisi iusto rerum molestias voluptatem dicta vero eius? </div>

        </div>
    </div>

</section>



