@{
    Layout = "_AccountLayout";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="wrapper">

    <div class="main-title">
        Society
    </div>

    <!-- Страница входа -->
    <main>

        <div class="register-form-container">
            <h5 class="form-title">Вход</h5>

            <div class="form-fields">
                <form class="needs-validation" novalidate>

                    <div class="form-field">
                        <label for="Mail" class="form-label">Почта</label>
                        <input class="form-control" type="text" id="Mail" required>
                        <div class="invalid-feedback">Пожалуйста, введите свою почту</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>


                    <div class="form-field">
                        <label for="Password" class="form-label">Пароль</label>
                        <input class="form-control" type="password" id="Password" required>
                        <div class="invalid-feedback">Пожалуйста, введите свой пароль</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-buttons">
                        <button class="login-btn" type="submit">Войти</button>
                    </div>

                    <div class="block-text">Нет аккаунта? Тогда <a asp-controller="Account" asp-action="Registration">зарегистрируйтесь</a></div>
                </form>
            </div>
        </div>


    </main>

</div>