@using SocialNetwork.Models.ViewModels
@model LoginViewModel

@{
    Layout = "_AccountLayout";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="wrapper">

    <div class="main-title">
        Society
    </div>

    <!-- Страница входа -->
    <main>

        <div class="register-form-container">
            <h5 class="form-title">Вход</h5>

            <div class="form-fields">
                <div class="text-danger" asp-validation-summary="All"></div>
                <form class="needs-validation" asp-controller="Account" asp-action="Login" method="post" novalidate>

                    <div class="form-field">
                        <label asp-for="Email" for="Email" class="form-label">Почта</label>
                        <input name="Email" asp-for="Email" class="form-control" type="text" id="Email" required>
                        <div asp-validation-for="Email" class="invalid-feedback"></div>
                        <div class="invalid-feedback">Пожалуйста, введите свою почту</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-field">
                        <label asp-for="Password" for="Password" class="form-label">Пароль</label>
                        <input name="Password" asp-for="Password" class="form-control" type="password" id="Password" required>
                        <div asp-validation-for="Password" class="invalid-feedback"></div>
                        <div class="invalid-feedback">Пожалуйста, введите свой пароль</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-buttons">
                        <button class="login-btn" type="submit">Войти</button>
                    </div>

                    <div class="block-text">Нет аккаунта? Тогда <a asp-controller="Account" asp-action="Registration">зарегистрируйтесь</a></div>
                </form>
            </div>
        </div>

    </main>

</div>