@model User

@{
    Layout = "_AccountLayout";
}

<link rel="stylesheet" href="~/css/registration.css">

<div class="wrapper">

    <div class="main-title">
        Society
    </div>

    <!-- Страница регистрации -->
    <main>
        <div class="register-form-container">
            <h5 class="form-title">Регистрация</h5>

            <div class="form-fields">
                <form class="needs-validation" asp-action="Registration" asp-controller="Account" method="post" novalidate>

                    <div class="row-form-field">
                        <div class="field-name">
                            <label asp-for="FirstName" class="form-label">Имя</label>
                            <input asp-for="FirstName" class="form-control" type="text" required>
                            <div class="invalid-feedback">Пожалуйста, введите свое имя</div>
                            <div class="valid-feedback">Ок!</div>
                        </div>

                        <div class="field-surname">
                            <label asp-for="LastName" class="form-label">Фамилия</label>
                            <input asp-for="LastName" class="form-control" type="text" required>
                            <div class="invalid-feedback">Пожалуйста, введите свою фамилию</div>
                            <div class="valid-feedback">Ок!</div>
                        </div>
                    </div>

                    <div class="form-field">
                        <label asp-for="Email" class="form-label">Почта</label>
                        <input asp-for="Email" class="form-control" type="text" required>
                        <div class="invalid-feedback">Пожалуйста, введите свою почту</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-field">
                        <label for="Password" class="form-label">Пароль</label>
                        <input name="password" class="form-control" type="password" id="Password" required>
                        <div class="invalid-feedback">Пожалуйста, введите свой пароль</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-buttons">
                        <button class="registration-btn" type="submit">Регистрация</button>
                    </div>

                </form>
            </div>
        </div>


    </main>

</div>