@{
    Layout = "_AccountLayout";
}

<link rel="stylesheet" href="~/css/registration.css">

<div class="wrapper">

    <div class="main-title">
        Society
    </div>

    <!-- Страница регистрации -->
    <main>
        <div class="register-form-container">
            <h5 class="form-title">Регистрация</h5>

            <div class="form-fields">
                <form class="needs-validation" novalidate>

                    <div class="row-form-field">
                        <div class="field-name">
                            <label for="Name" class="form-label">Имя</label>
                            <input class="form-control" type="text" id="Mail" required>
                            <div class="invalid-feedback">Пожалуйста, введите свое имя</div>
                            <div class="valid-feedback">Ок!</div>
                        </div>

                        <div class="field-surname">
                            <label for="Surname" class="form-label">Фамилия</label>
                            <input class="form-control" type="text" id="Surname" required>
                            <div class="invalid-feedback">Пожалуйста, введите свою фамилию</div>
                            <div class="valid-feedback">Ок!</div>
                        </div>
                    </div>

                    <div class="form-field">
                        <label for="Mail" class="form-label">Почта</label>
                        <input class="form-control" type="text" id="Mail" required>
                        <div class="invalid-feedback">Пожалуйста, введите свою почту</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-field">
                        <label for="Password" class="form-label">Пароль</label>
                        <input class="form-control" type="password" id="Password" required>
                        <div class="invalid-feedback">Пожалуйста, введите свой пароль</div>
                        <div class="valid-feedback">Ок!</div>
                    </div>

                    <div class="form-buttons">
                        <button class="registration-btn" type="submit">Регистрация</button>
                    </div>

                </form>
            </div>
        </div>


    </main>

</div>